<!--
<div class="container>
<div class="pagination">
  {% if paginator.previous_page %}
    <a " class="previous">
	<button type="button" class="mama center-block btn btn-primary btn-sm" onclick="window.location.href='{{site.url}}/{{site.baseurl}}/{{ paginator.previous_page_path }}'")>Previous</button>
    </a>
  {% else %}
  <button type="button" class="mama center-block btn btn-secondary btn-sm" disabled>Previous</button>
  {% endif %}
  <button type="button" class="mama center-block btn btn-secondary btn-sm" disabled>Page: {{ paginator.page }} of {{ paginator.total_pages }}</button>
  {% if paginator.next_page %}
  <button type="button" class="mama center-block btn btn-primary btn-sm" onclick="window.location.href='{{site.url}}/{{site.baseurl}}/{{ paginator.next_page_path }}'")>Next</button>
  {% else %}
   <button type="button" class="mama center-block btn btn-secondary btn-sm" disabled>Next</button>
  {% endif %}
</div>		
</div>

<style>
.mama{
    margin: 2px!important;
}
</style>
-->

<nav aria-label="...">
  <ul class="pagination">
{% if paginator.previous_page %}
    <li class="page-item disabled">
      <a class="page-link" href="onclick="window.location.href='{{site.url}}/{{site.baseurl}}/{{ paginator.previous_page_path }}'">Previous</a>
    </li>
{% else %}
<li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
</li>																  
{% endif %}
    <li class="page-item"><a class="page-link" href="">1</a></li>
{% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="onclick="window.location.href='{{site.url}}/{{site.baseurl}}/{{ paginator.next_page_path }}'">Next</a>
    </li>
{% else %}
<li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Next</a>
</li>	  
{% endif %}	  
  </ul>
</nav>
