        <div class="col-md-3 ml-auto">

          <aside class="sidebar">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">About</h4>
                <p class="card-text">{{ site.about }}</p>
              </div>
            </div>
          </aside>

		  
          <aside class="sidebar sidebar-sticky">
            <div class="card mb-4">
              <div class="card-body">
                <h4 class="card-title">Categories</h4>
				{% for category in site.categories %}
				    {% capture category_name %}{{ category | first }}{% endcapture %}
                <a class="btn btn-light btn-sm mb-1" href="{{ site.baseurl }}/categories/#{{category_name | slugize}}">
                {{ category | first }}{% unless forloop.last %},{% endunless %}</a>
				{% endfor %}
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body">
                
				<h4 class="card-title">Latest posts</h4>
				{% for post in site.posts limit:2 %}
                <a href="{{site.baseurl}}{{ post.url }}" class="d-inline-block">
                  <h4 class="h6">{{ post.title }}</h4>
                  {% if post.image %}
				  <img class="card-img" src="{{ site.baseurl }}/img/{{ post.image }}" alt="" />
				  {% endif %}
                </a>
				<br />
                <time>On {{ post.date | date_to_string }}</time> in {{ post.categories[0] }}
				<hr />
				{% endfor %}
              </div>
            </div>
          </aside>

        </div>
